<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<!--    <preference for="JackFlash\Blog\Controller\Article\forPlugin" type="JackFlash\Blog\Preference\fPref" />-->
<!--&lt;!&ndash;    <preference for="JackFlash\Blog\Controller\Article\forPlugin" type="JackFlash\Blog\Preference\sPref" />&ndash;&gt;-->

<!--    <type name="JackFlash\Blog\Controller\Article\forPlugin">-->
<!--        <plugin name="plugin" type="JackFlash\Blog\Plugin\fPlugin" sortOrder="1" disabled="false"/>-->
<!--        <plugin name="plugin2" type="JackFlash\Blog\Plugin\sPlugin" sortOrder="2" disabled="false"/>-->
<!--    </type>-->

    <preference for="JackFlash\Blog\Api\ArticleRepositoryInterface" type="JackFlash\Blog\Model\ArticleRepository"/>
    <preference for="JackFlash\Blog\Api\Data\ArticleInterface" type="JackFlash\Blog\Model\Article"/>
    <preference for="JackFlash\Blog\Api\Data\ArticleSearchResultInterface" type="JackFlash\Blog\Model\ArticleSearchResult"/>

    <preference for="JackFlash\Blog\Api\CommentRepositoryInterface" type="JackFlash\Blog\Model\CommentRepository"/>
    <preference for="JackFlash\Blog\Api\Data\CommentInterface" type="JackFlash\Blog\Model\Comment"/>
    <preference for="JackFlash\Blog\Api\Data\CommentSearchResultInterface" type="JackFlash\Blog\Model\CommentSearchResult"/>

    <preference for="JackFlash\Blog\Api\EavOptionsRepositoryInterface" type="JackFlash\Blog\Model\EavOptionsRepository"/>
    <preference for="JackFlash\Blog\Api\Data\EavOptionsInterface" type="JackFlash\Blog\Model\EavOptions"/>
    <preference for="JackFlash\Blog\Api\Data\EavOptionsSearchResultInterface" type="JackFlash\Blog\Model\EavOptionsSearchResult"/>

<!--    Create Admin Grid using Component   -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="jackflash_blog_article_listing_articles_data_source" xsi:type="string">JackFlash\Blog\Model\ResourceModel\Article\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="JackFlash\Blog\Model\ResourceModel\Article\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_blog_articles</argument>
            <argument name="resourceModel" xsi:type="string">JackFlash\Blog\Model\ResourceModel\Article</argument>
        </arguments>
    </virtualType>


<!--    Block override for attributes-->

<!--    <preference for="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit" type="JackFlash\Blog\Block\Adminhtml\Product\Attribute\Edit" />-->
    <preference for="Magento\Eav\Block\Adminhtml\Attribute\Edit\Options\Options" type="JackFlash\Blog\Block\Adminhtml\Product\Attribute\Edit\Options\Options" />

<!--    \JackFlash\Blog\Model\DataProvider-->
<!--    <virtualType name="ContactsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">-->
<!--        <arguments>-->
<!--            <argument name="collection" xsi:type="object" shared="false">Pfay\Contacts\Model\ResourceModel\Contact\Collection</argument>-->
<!--&lt;!&ndash;            <argument name="filterPool" xsi:type="object" shared="false">ContactsGirdFilterPool</argument>&ndash;&gt;-->
<!--        </arguments>-->
<!--    </virtualType>-->





<!--    Logger-->

    <virtualType name="JackFlash\Blog\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/text.txt</argument>
        </arguments>
    </virtualType>

    <virtualType name="JackFlash\Blog\Logger\LoggerCustom" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">JackFlash\Blog\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="JackFlash\Blog\Observer\LoggerObserver">
        <arguments>
            <argument name="logger" xsi:type="object">JackFlash\Blog\Logger\LoggerCustom</argument>
        </arguments>
    </type>
<!---->
<!--    <type name="Magento\Framework\Console\CommandListInterface">-->
<!--        <arguments>-->
<!--            <argument name="commands" xsi:type="array">-->
<!--                <item name="commandexample_somecommand" xsi:type="object">JackFlash\Blog\Console\Command\MyFirstCommand</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->

    <type name="Magento\Catalog\Controller\Adminhtml\Product\Attribute\Save">
        <plugin name="saveIsEnabled"
                type="JackFlash\Blog\Plugin\AfterSavePlugin"/>
    </type>
<!--    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">-->
<!--        <plugin name="afterBeforeSave"-->
<!--                type="JackFlash\Blog\Plugin\AfterBeforeSave"/>-->
<!--    </type>-->
<!--    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">-->
<!--        <plugin name="BeforeAfterSave"-->
<!--                type="JackFlash\Blog\Plugin\BeforeAfterSave"/>-->
<!--    </type>-->
    <preference for="Magento\Catalog\Block\Product\View\Attributes"
                type="JackFlash\Blog\Block\Product\View\Attributes"/>
    <preference for="Magento\Catalog\Block\Product\View\Description"
                type="JackFlash\Blog\Block\Product\View\Description"/>
<!--    <preference for="Magento\Eav\Model\Entity\Attribute\Source\Table"-->
<!--                type="JackFlash\Blog\Model\Entity\Attribute\Source\Table"/>-->
    <type name="Magento\Eav\Model\Entity\Attribute\Source\Table">
        <plugin name="afterAllOtions"
                type="JackFlash\Blog\Plugin\AfterGetAllOptins"/>
    </type>
</config>
