<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <label>Sales</label>
            <tab>sales</tab>
<!--            <resource>Magento_Sales::config_sales</resource>-->
            <group id="custom_discount" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Discount</label>
                <field id="value" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Value</label>
                </field>
            </group>
            <tab>sales</tab>
            <group id="sku" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SKU</label>
                <field id="value" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Value</label>
                </field>
            </group>
        </section>

<!--        <section id="checkout" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--            <group id="test_group1" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                <label>Test 1</label>-->
<!--                <field id="test1" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0" >-->
<!--                    <label>Test Label</label>-->
<!--                </field>-->
<!--                <field id="test2" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test TextArea</label>-->
<!--                </field>-->
<!--                <field id="test3" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">-->
<!--                    <label>Test Select</label>-->
<!--                    <source_model>JackFlash\Blog\Model\Source\CarsModel</source_model>-->
<!--                </field>-->
<!--                <field id="test4" translate="select" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test multiselect</label>-->
<!--                    <source_model>JackFlash\Blog\Model\Source\CarsModel</source_model>-->
<!--                </field>-->
<!--                <field id="test5" translate="select" type="button" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">-->
<!--                    <label>Test button</label>-->
<!--                </field>-->
<!--                <field id="test6" translate="select" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test password</label>-->
<!--                </field>-->
<!--                <field id="test7" translate="select" type="image" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">-->
<!--                    <label>Test image</label>-->
<!--                </field>-->
<!--            </group>-->
<!--            <group id="test_group2" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">-->
<!--                <label>Test 2</label>-->
<!--                <field id="test11" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" >-->
<!--                    <label>Test Label</label>-->
<!--                </field>-->
<!--                <field id="test12" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">-->
<!--                    <label>Test TextArea</label>-->
<!--                </field>-->
<!--                <field id="test13" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test Select</label>-->
<!--                    <source_model>JackFlash\Blog\Model\Source\CarsModel</source_model>-->
<!--                </field>-->
<!--                <field id="test14" translate="select" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">-->
<!--                    <label>Test multiselect</label>-->
<!--                    <source_model>JackFlash\Blog\Model\Source\CarsModel</source_model>-->
<!--                </field>-->
<!--                <field id="test15" translate="select" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test button</label>-->
<!--                </field>-->
<!--                <field id="test16" translate="select" type="password" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test password</label>-->
<!--                </field>-->
<!--                <field id="test17" translate="select" type="image" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">-->
<!--                    <label>Test image</label>-->
<!--                </field>-->
<!--            </group>-->
<!--        </section>-->
    </system>
</config>
